@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@charset "utf-8";


h1{

    text-align: center ;
    margin-left: 80px;
    font-family:'Courier New', Courier, monospace;
    color: #757575;
    font-size: 600% ;
 
}

h2{
    text-align: left ;
    margin-left: 0px;
    font-family:'Courier New', Courier, monospace;
    color: #4b4b4b;
    font-size: 300% ;
}

p{
    font-size: 300%;
}
table{
    
    background-color: transparent;
}

body{

    background-image: url(Background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; 
}

li{
    margin-top: -10px;
    margin-left: 60px;
    display: inline-block;
    float: left;
}
.image{

    margin-top: 50px;
    border-radius: 50%;
    display: block;
    float: right;
  }

.image:hover{    
      zoom: 110%;
  }
.Process{
    padding: 20px;
    text-align: center;
   border-radius: 50%;
    margin-left: 50px;
    font-family: fantasy;
    font-size: 200%;
    color:#045F5F;
    text-decoration: none ;

}

a:hover{
    zoom: 105%;
    background-color: wheat;
    color: rgb(5, 29, 29);}

dt{
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}

dd{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
   
}
.Login{
    display: inline-block;
    float: inline-end;
    padding: 0px;
    border-radius: 10%;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
    color:#045F5F;
    text-decoration: none ;
}
.Login:hover{
    
    zoom: 110%;
    background-color: #fc899e;
    color: rgb(5, 29, 29);

}
h3{
    
    font-family:'Times New Roman', Times, serif;
    color: #757575;
    font-size: 300% ;
 
}
form{

  
    text-align: center ;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 0%;
    background: transparent;
}
label{
    margin-top: 10px;
    font-family: Alfa Slab One;
}
#Box{
    width: 200px;
    box-shadow: inset 0 0 10px gray;
    
}
.Enter{

    transition: 1s;
    position: relative;
   width: 0px;
   padding: 0px;
   font-size: 20px;
   border: 0px solid;
   text-decoration: none;
   background-color: rgba(52, 253, 2, 0.26);
   font-family: Alfa Slab One;
  

}
.Enter:hover{

    background-color: rgba(52, 253, 2, 0.26);

}
.Reset{
    
    transition: 1s;
    text-decoration: none;
    color: darkcyan;
   background-color: rgba(250, 105, 9, 0.274);
   font-family: Alfa Slab One;
   font-size: 20px;

}
address{
    transition: 1s;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
address:hover{

    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10%;
    zoom: 110%;
    background-color: #fc899e62;
    color: rgb(5, 29, 29);
}

.AdminProcess{
    
    transition: 0.3s;
    Text align: Center ;
        padding: 10px;
    text-align: center;
   border-radius: 10%;
    margin-left: 500px;
    font-family: Alfa Slab One;
    font-size: 200%;
    color: rgb(5, 29, 29); 
    text-decoration: none ;
}

.AdminLogin{

    font-size: 30px;
    border-radius: 10%;
    margin-left: 1170px;
    Text align: center ; 
    text-decoration: none ;
    font-family:Russo one;
    color:#0C090A;
    
}

.button {
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
